<h1><%= @question.title %></h1>
<p><%= @question.body %></p>

<div id='like'>
  <%= render 'likes/like' %>
</div>

<%= image_tag @question.image.url if @question.image.present? %>

<% if @vote.nil? %>
  <%= link_to 'Vote Up', question_votes_path(@question, { is_up: true }),
                         method: :post %>

  <%= link_to 'Vote Down', question_votes_path(@question, { is_up: false }),
                         method: :post %>
<% elsif @vote.is_up? %>
  <%= link_to 'Un-do Vote Up', vote_path(@vote), method: :delete %>
  <%= link_to 'Vote Down', vote_path(@vote, { is_up: false }), method: :patch %>
<% else %>
  <%= link_to 'Vote Up', vote_path(@vote, { is_up: true }), method: :patch %>
  <%= link_to 'Un-do Vote Down', vote_path(@vote), method: :delete %>
<% end %>

(<%= @question.votes_total %>)

<% if can?(:manage, @question) %>
  <%= link_to 'Edit', edit_question_path(@question) %>
  <%= link_to 'Delete', question_path(@question),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
<% end %>
<hr>
<h2>Answers</h2>
<h3>Create New Answer</h3>
<%= render 'answers/form' %>
<hr>
<div id='answers'>
  <% @question.answers.each do |ans| %>
    <%= render 'answers/answer', ans: ans %>
  <% end %>
</div>

<%# you can also do the line below if you use the variable `answer` for the
    answer name within /answers/_answer.html.erb template. %>
<%#= render @question.answers %>
